.descImg1{top:0px;left:0px;
width:32px;height:32px;background: url("second.png") no-repeat -0px -64px;}
.descImg2{top:0px;left:0px;
width:32px;height:32px;background: url("second.png") no-repeat -32px -32px;}
.descImg3{top:0px;left:0px;
width:32px;height:32px;background: url("second.png") no-repeat -32px -0px;}
.descImg5{top:0px;left:0px;
width:32px;height:32px;background: url("second.png") no-repeat -32px -64px;}
.descImg55{top:0px;left:0px;
width:32px;height:32px;background: url("second.png") no-repeat -0px -0px;}
.descImg6{top:0px;left:0px;
width:32px;height:32px;background: url("second.png") no-repeat -0px -32px;}
